* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #e5e5e5;

  --base-color: 240;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsla(var(--base-color), 6%, 21%, 1);

  --text-color: hsla(240, 6%, 21%, 1);

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;

  display: grid;
  min-height: 100vh;
}

body.floresta {
  background: url('./imgs/floresta.jpg');
  background-size: cover;
}

body.chuva {
  background: url('./imgs/chuva.jpg');
  background-size: cover;
}

body.cafeteria {
  background: url('./imgs/cafeteria.jpg');
  background-size: cover;
}

body.lareira {
  background: url('./imgs/lareira.jpg');
  background-size: cover;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.set svg path,
.stop svg path {
  fill: var(--primary-color);
}

.forest.selected svg path,
.rain.selected svg path,
.coffeshop.selected svg path,
.bonfire.selected svg path {
  fill: hsla(240, 6%, 21%, 1);
}

.forest.selected svg path:nth-child(2),
.rain.selected svg path:nth-child(2),
.coffeshop.selected svg path:nth-child(2),
.bonfire.selected svg path:nth-child(2) {
  fill: hsla(0, 0%, 100%, 1);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.container {
  display: flex;
  gap: 19.2rem;
  border: solid 1px black;
  padding: 10rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.subContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subContainer2 {
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 50% 50%;
}

.subContainer2 button svg {
  width: 13.8rem;
  height: 15.2rem;
  filter: drop-shadow(0 0 1px black);
}

main {
  align-self: center;
  justify-self: center;
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 12.62rem);

  display: flex;
  margin-bottom: 1.6rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}
